/* line 1, /Users/Camden/Developer/calendar/app/assets/stylesheets/typography.css.scss */
body {
  font-family: "AvenirNext-Regular";
}

/* line 5, /Users/Camden/Developer/calendar/app/assets/stylesheets/typography.css.scss */
h2 {
  font-family: "AvenirNext-DemiBold";
}

/* line 9, /Users/Camden/Developer/calendar/app/assets/stylesheets/typography.css.scss */
h3 {
  font-family: "AvenirNext-DemiBold";
}
