@import "colors.css.scss";
.events-page {

  .agenda-block {
    width: 70%;
    height: 65px;
    background-color: $gray;
    margin-bottom: 20px;
    padding: 10px;

    .agenda-title-section {
      width: 70%;
      float: left;

      h3 {
        font-size: 30px;
        color: white;
        margin-bottom: 0px;
      }
    }

    .agenda-time-section {
      width: 30%;
      float: left;

      h4 {
        color: white;
        text-align: right;
        font-size: 20px;
      }
    }

    p {
      color: white;
    }
  }
}